@import "../../styles/fonts.scss";

.Nav {
  margin-top: 0.25rem;

  ul {
    margin-bottom: 1rem;
  }

  ul ul {
    position: relative;
    padding-left: 0.75rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0.4rem;
      bottom: 0.4rem;
      width: 1px;
      left: 0;
      background: var(--border-color);
    }
  }

  > ul > li {
    margin-bottom: 1rem;
    &:last-child {
      border-bottom: none;
    }
  }

  li {
    margin-top: .25rem;
  }

  span {
    display: inline-block;
    @include kicker;
    margin-bottom: 0.75rem;
  }

  a {
    display: block;
    padding: 1px 0;
    position: relative;
    color: inherit;
    @include nav;

    &:hover {
      color: var(--text-strong);

      &:after {
        animation: nav-item-in 0.25s 1 linear both;
      }
    }

    &[aria-current="page"],
    &:active {
      color: var(--primary);
      font-weight: 600;

      &:hover {
        color: var(--primary);
        font-weight: 600;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          bottom: 2px;
          left: -0.75rem;
          width: 1.5px;
          border-radius: var(--border-radius-200);
          background: var(--primary);
        }
    }

    &:hover {
      color: var(--text-strong);

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: -0.75rem;
        width: 1.5px;
        border-radius: var(--border-radius-200);
        background: var(--text-strong);
      }
    }
  }
}
